section.hero.is-primary.is-bold.is-fullheight
  header.header.hero-head role='banner'
    = partial '/_partials/navbar', locals: { color: 'transparent' }
  .hero-body
    .container style='margin-top: 1.5rem'
      h1.title.has-text-white Uyuni

      /div.logo-position: figure.image.is-96x96: img src=(asset_url 'logo.svg', 'img')
      p.subtitle.is-size-2.has-text-white A world-class solution for open source infrastructure management tailored for your software-defined infrastructure
      /Uyuni includes Salt OSS built-in for Scalable, flexible, intelligent IT orchestration and automation for installing, updating and patching systems and packages.  Work with containers, build images and manage distribution repositories, then perform auditing to meet compliance standards, all packaged as a free software solution.
  .hero-footer
    .container.has-text-centered style='margin-bottom: 3rem'
      h3.subtitle.is-size-3.has-text-white style='margin-bottom: 1.25rem' Stable release available now!
      p
        a.button.is-white.is-outlined style='margin-right: 0.75rem' href='http://beta.suse.com/private/uyuni-project/'
          span.icon: i.fa.fa-download
          span	Get 4.0
        a.button.is-white.is-outlined href='https://github.com/uyuni-project/uyuni'
          span.icon: i.fa.fa-github
          span View the Source

section#feature.section.is-alternate
  .container
    .columns.is-desktop
      .column
        h2.title.has-text-grey-dark Introducing Uyuni
    .columns.is-desktop
      .columns.is-multiline
        .column.is-11.is-offset-1
          h3.subtitle.has-text-primary What is Uyuni?
          p.desc.has-text-grey-dark.is-size-4 Uyuni utilizes Salt for configuration management and orchestration, thereby inheriting its name: Uyuni refers to the world’s largest Salt flat, Salar de Uyuni in Southwest Bolivia.


        .column.is-11.is-offset-1
          h3.subtitle.has-text-primary OSS with an Enterprise Target
          p.desc.has-text-grey-dark.is-size-5 SUSE Manager is based on the Spacewalk project. As our branch began to diverge, we decided to make the current SUSE Manager code-base the Uyuni foundation, therefore all future SUSE Manager releases will be based on Uyuni going forward.
      .column.is-vcentered.is-half
        figure.image.is-4by3: img src=(asset_url 'logo.svg', 'img')
    .columns.is-desktop
      .column.is-vcentered.is-half
        figure.image.is-4by3: img src=(asset_url 'ship.svg', 'img')
      .columns.is-multiline style='padding-top: 3rem'
        .column.is-11.is-offset-1
          h3.subtitle.has-text-primary Easily onboard and manage servers
          p.desc.has-text-grey-dark.is-size-5 Onboard and manage any Linux server connected to the network, from IoT edge devices to your Kubernetes environment, no matter where it is located – in your data center, a 3rd party data center or in the public cloud.
        .column.is-11.is-offset-1
          h3.subtitle.has-text-primary A single tool for automated deployment
          p.desc.has-text-grey-dark.is-size-5 Automatically deploy hardened OS templates (bare metal, VM or container) to tens of thousands of servers and IoT devices for faster, consistent and repeatable provisioning and configuration without compromising speed or security.

section#feature.section.is-alternate
  .container
    .columns.is-desktop
      .column
        h2.title.has-text-grey-dark Software Defined Infrastructure
    .columns.is-desktop
      .column.is-vcentered.is-half
        figure.image.is-4by2: img src=(asset_url 'saltstack.svg', 'img')
      .columns.is-vcentered.is-multiline style='align-content: center'
        .column.is-11.is-offset-1
          h3.subtitle.has-text-primary Uyuni and Salt
          p.desc.has-text-grey-dark.is-size-5 Uyuni uses Saltstack OSS to provide event-driven configuration and management control. The Salt-master(Uyuni Server) orchestrates thousands of Salt-minions (Uyuni Clients) using remote execution.
        .column.is-11.is-offset-1 style='margin-top: 1rem'
          h3.subtitle.has-text-primary Automated patch and package management
          p.desc.has-text-grey-dark.is-size-5 Greatly simplifies deploying patches and installation of packages based on assigned software channels
    .columns.is-desktop
      .column.is-offset-1
        h3.subtitle.has-text-primary Detailed compliance auditing
        p.desc.has-text-grey-dark.is-size-5 Compliance auditing and reporting with the ability to track all hardware and software changes made to your managed Linux infrastructure helps to ensure compliance with internal security policies
      .column
        h3.subtitle.has-text-primary Quickly identify systems
        p.desc.has-text-grey-dark.is-size-5 Identify systems deployed in hybrid cloud and container infrastructures that are out of compliance to hardened profiles/templates based on your own internal security policies ensuring faster non-compliant remediation.
    .columns.is-desktop
      .column.is-offset-1
        h3.subtitle.subtitle.has-text-primary Simplified management
        p.desc.has-text-grey-dark.is-size-5 Keep it simple with graphical visualization of your Linux systems and their relationships along with the capability to organize them into logical groupings based on tags (e.g. location, rack, vendor, CPU architecture, RAM, etc.)
